@import "tailwindcss";

body {
    font-family: "Signika", sans-serif;
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de scroll */
  }
  
  /* Estilo del track (fondo de la barra de scroll) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  /* Estilo del thumb (la barra que se mueve) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  /* Cambiar el color del thumb al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color más oscuro al hover */
  }