---
import Layout from "../layouts/Layout.astro";
import ActividadCard from "../components/cards/ActividadCard.astro";

const articles = [
  {
    title: "Modelos de ciclo de vida del software",
    description: "Los modelos de proceso prescriptivo fueron propuestos originalmente para poner orden en el caos del desarrollo de software (Pressman, 2010).",
    imageUrl: "/imagenesActividades/ciclo_vida_software.jpeg",
    link: "/actividades/ciclo_vida_software"
  },
]
---

<Layout>
    <div class="flex justify-center items-center mt-6 mb-10">
        <h1 class="text-3xl font-bold">Actividades de Análisis y Diseño de Sistemas</h1>
      </div>
  

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    {
      articles.map((article) => (
        <ActividadCard
          title={article.title}
          description={article.description}
          imageUrl={article.imageUrl}
          link={article.link}
        />
      ))
    }
    
  </div>
</Layout>
