---
export interface Props {
  author: string;
  authorUser: string;
  date: string;
}

const { author, authorUser, date } = Astro.props;
---

<div class="flex items-center justify-center gap-4 text-sm text-gray-600">
  <a
    href={"https://github.com/" + authorUser}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="inline-block h-10 w-10 rounded-full ring-2 ring-white border-2 border-gray-300 hover:border-blue-500 transition duration-300"
      src={`https://github.com/${authorUser}.png`}
      alt={`Avatar de ${author}`}
    />
  </a>

  <p>{author}</p>
  <span class="w-1 h-1 bg-gray-500 rounded-full"></span>
  <p>{date}</p>
</div>
