<nav class="bg-gray-800 p-3 text-white font-semibold text-lg">
  <div class="container mx-auto flex justify-between items-center">
    <a
      href="/"
      class="text-2xl font-bold text-white hover:text-gray-300 transition duration-300"
    >
      ProyectoX
    </a>
    <ul class="flex space-x-6">
      <li>
        <a href="/" class="hover:text-gray-300 transition duration-300"
          >Inicio</a
        >
      </li>
      <li>
        <a href="/nosotros" class="hover:text-gray-300 transition duration-300"
          >Equipo</a
        >
      </li>
      <li>
        <a
          href="/actividades"
          class="hover:text-gray-300 transition duration-300">Actividades</a
        >
      </li>
    </ul>
  </div>
</nav>
