<nav class="bg-gray-800 p-5 text-white font-semibold text-lg">
    <ul class="flex justify-end space-x-6 ml-4 mr-4">
      <li><a href="/">Inicio</a></li>
      <li><a href="/nosotros">Equipo</a></li>
      <li><a href="/actividades">Actividades</a></li>
    </ul>
  </nav>