---
import "../styles/global.css";
import "../styles/layout.css";
import Navbar from "../components/Navbar.astro";
import logo from "/src/assets/logo/systemsoft.svg";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href={logo.src} />
    <title>Portafolio</title>
  </head>
  <body>
    <div
      class="layout-bg"
      style={{
        backgroundImage: `url(/background/bg-dark.png)`,
      }}
    >
      <div class="layout">
        <Navbar />
        <main class="content">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
